<amplify-authenticator username-alias="email" *ngIf="authState !== 'signedin'">
    <amplify-sign-up
        slot="sign-up"
        usernameAlias="email"
        [formFields]="formFields"
    ></amplify-sign-up>
    <amplify-sign-in slot="sign-in" usernameAlias="email"></amplify-sign-in>
</amplify-authenticator>

<div *ngIf="authState === 'signedin' && user" class="App">
<div id="app">
    <h2>TODOリスト サンプル</h2>

    <h3>タスク登録</h3>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm.value)">
        <mat-form-field class="task-name">
            <mat-label>タスク名</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <button class="register-button" mat-raised-button color="primary" type="submit">登録</button>
    </form>

    <h3>タスクリスト</h3>

    <mat-list class="task-list">
        <mat-list-item class="task-item" *ngFor="let task of tasks | async">
            {{task.name}}
            <button mat-raised-button color="accent" (click)="onCompleteTask(task.id)">Done</button>
        </mat-list-item>
    </mat-list>

    <amplify-sign-out></amplify-sign-out>
</div>
</div>
