#app
  width 800px
  margin auto

.task-name
  width 300px

.register-button
  margin-left 5px

.task-list
  .task-item
    width 400px
    border-bottom solid 1px gray
    margin-bottom 10px
    button
      margin 0 0 0 auto